@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');
body{ background-image: url(../imagenes/barfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}

h1 { font-family: 'Unbounded', sans-serif;
    font-size: 50px;
    text-align:left;
    margin-left: 20px;
    margin-top: 20px;
    color: #FFC857 ;

}

.logoweb{
    width: 50px;
    height: 50px;
}


.sub {
    color: #FFC857;
    font-family: 'Unbounded', sans-serif;
    text-decoration:underline;
    font-size: 15px;
}


.sub2 {
    color: #FFC857;
    font-family: 'Unbounded', sans-serif;    
    text-decoration:underline;
    font-size: 20px;

}

.sub3 {
    color:#FFC857;
    font-family: 'Unbounded', sans-serif; 
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
}

.text {
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 15px;

}

.text2 {
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    }

.sub4 {
    color:#FFC857;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.linkh {
    color: #c72f41;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 14px;
}


.textaud {
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

nav{
    background-color: #000000;
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
}

.linknav {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    
}


.botonwsp{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    bottom: 40px;
    right: 40px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    z-index: 999;

}
.fa-whatsapp{
    font-size: 50px;
}

.sub5{
    color:#FFC857;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    background-color: #000000;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap:wrap;

}










