@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');
body{ background-image: url(../imagenes/10683-flores-vintage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #151515;

}

h1 { font-family: 'Unbounded', sans-serif;
    font-size: 50px;
    text-align:left;
    margin-left: 20px;
    margin-top: 20px;
    color: #FFC857;
}
header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    background-color: #161515;
    
    
}


.contenedor{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

section{
    border-style: solid;
    border-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #161515;
}

aside{
    border-style: solid;
    border-color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #161515;

}


.logoweb{
    width: 50px;
    height: 50px;
}


.sub {
    color: #FFC857;
    font-family: 'Unbounded', sans-serif;
    text-decoration:underline;
    font-size: 15px;
    
}

.sub2 {
    color: #FFC857;
    font-family: 'Unbounded', sans-serif;    
    text-decoration:underline;
    font-size: 20px;
    text-align:center;
    margin-top: 10px;
}

.sub3 {
    color:#FFC857;
    font-family: 'Unbounded', sans-serif; 
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
}

ul li{
    list-style:inside;
    text-align: justify;
    
}
ol li{
    list-style:inside;
    text-align: justify;
    
}

.text {
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 15px;

}

.text2 {
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    text-align:center;
    }

.sub4 {
    color:#FFC857;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bolder;

}

.linkh {
    color: #c72f41;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 14px;
}


.textaud {
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

nav{
    background-color: #161515;
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
}


.linknav {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    
}


.botonwsp{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    bottom: 40px;
    right: 40px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    z-index: 999;

}
.fa-whatsapp{
    font-size: 50px;
}

.sub5{
    color:#FFC857;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

.info{
    display: flex;
    justify-content:center;
    padding-top: 20px;

}

footer{
    background-color: #151515;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap:wrap;

}

a:link{
    color: #fff;
}

a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    
}

@media (max-width: 500px){
    .video{
        display: none;
    }
}

@media (max-width: 767px){
    .botonwsp{
        display: none;
        
    }
}

@media (min-width: 1199px){
    .subsecreto{

        display: none;
    }
}
@media (max-width: 1199px){
    .subsecreto{
        color: red;
    }
}

.contenedorboot{
    margin-top: 20px;
    margin-bottom: 40px;

}
